<a href="https://colab.research.google.com/github/Nischay18/ENSYS5800-AI-Energy-somu.n/blob/main/02.%20Fundamentals%20-%20Data%20Analytics/02a.%20Fundamentals%20-%20Descriptive%20Analytics%20-%20Introduction%20to%20Python%20(Example%202.1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ENSYS 5800: Applications of Artificial Intelligence in Energy Systems

# 02a. Fundamentals - Descriptive Analytics

## Overview of Python

#### Working with data types in Python

*References:*  
* https://wiki.python.org/moin/BeginnersGuide/Overview
* https://docs.python.org/3/tutorial/datastructures.html#

In [ ]:
x = 1 # Assign the number, 1, to the variable x

In [ ]:
print(x)  # show the value of x in the user interface

1

In [ ]:
y = 2*x + 4 # specify an equation that shows the dependency of y on the independent variable x
print(y) # evaluate and show the value of y in the user interface, for the current value of x

6

*Python data types include* **numbers (floating point, complex, and integers)**, **arrays**, **strings**, **lists**, and **dictionaries**

In [ ]:
xnum = 0.01       # Floating point number with two significant digits
xint = 1          # Integer
xstr = "string"   # String (non-numeric variable) is a group of characters
print(xstr)

string

*Working with arrays: An **array** is a vector of homogeneous items (ex. an array of numbers)*

In [ ]:
import array                       # The import command is how you bring a python package into your computing space
xarr = array.array('i',[0, 1, 2])  # An array is a vector of homogeneous items (ex. an array of numbers)
print(xarr[0])                     # Print the first item in the array (notice that the first item starts with 0)

0

*Working with Lists: A **List** is a group of items that can be heterogeneous (ex. strings, numbers, arrays, etc.). You can do much more with lists than arrays*

In [ ]:
xlist = [2,"string"]               # Assign a number and a string to a list
print(xlist)                       # Print the entire list
print(xlist[1])                    # Print item 2 in the list

[2, 'string']
string

In [ ]:
xlist = [2,"string",[1,2]]         # Assign a number, a string, and an array to a list
                                   # Unlike an array, you do not need to explicitly declare it
print(xlist)                       # Print the entire list
print(xlist[2])                    # Print item 3 in the list
print(xlist[2][1])                 # Print the second array item for item 3 in the list

[2, 'string', [1, 2]]
[1, 2]
2

In [ ]:
xlist.append(3)                    # You can easily append a new item to the list, using a built in function for a list type
print(xlist)

[2, 'string', [1, 2], 3]

In [ ]:
type(xlist[0])                     # Determine the type of an item in a list (this item is an integer, int)

int

In [ ]:
type(xlist[1])                     # Determine the type of an item in a list (this item is a string, str)

str

*Working with Sets: A **Set** is an unordered group of unique items (ex. colors 'red','orange',etc.). You can do much more with lists than arrays*

In [ ]:
xset = {'red','blue','orange'}     # You create a set by using {}, with the items separated by commas
print(xset)

{'orange', 'red', 'blue'}

In [ ]:
'blue' in xset                     # You can use built in functions. This example shows how you can easily check to see if 'blue' is in the set *xset**

True

In [ ]:
xset = set({'red','red','blue','orange'})  # Set must be unique. The Set command automatically finds the unique items
print(xset)

{'orange', 'red', 'blue'}

*Working with Dictionaries: A* **Dictionary** *is a sequence that is indexed by* **keys**

In [ ]:
xdict = {'red': 1, 'blue': 2}      # You define a dictionary similar to a set, but must add the associated values to each key
print(xdict)                       # Print the full dictionary
print(xdict['red'])                # Determine the value associated with the 'red' key

{'red': 1, 'blue': 2}
1

### Scientific Computing with Python (Numpy Package)

*References:*  
    
* http://www.numpy.org/
* [Python Data Science Handbook by Jake VanderPlas](https://www.oreilly.com/library/view/python-data-science/9781491912126/)
* [Colab Notebook for 'Python Data Science Handbook'](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb#scrollTo=rRb4rMNoRbvz)

**Numpy** *is a python programming library that is focused on working with large data sets (arrays and matrices) and includes numerous math functions for operating on data sets*
>[Python Data Science Handbook: Introduction to NumPy](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/02.00-Introduction-to-NumPy.ipynb#scrollTo=mEY3h_qNR-nT)

Note that Numpy is very powerful for mathematical computations, where the fundamental items are numeric (similar to an array)

In [ ]:
import numpy as np                # When importing library packages, you should include the 'as x' statement to differentiate from other packages
xnparr = np.array([0, 1, 2])      # An example of defining an array using Numpy
print(xnparr)                     # Print the full Numpy array
print(xnparr[0])                  # Print the 1st item in the Numpy array

[0 1 2]
0

You can use built in Numpy functions to quickly create arrays for calculations

In [ ]:
np.zeros(3)                       # Create an array of 3 zeros

array([0., 0., 0.])

In [ ]:
np.eye(3)                         # Create a 3x3 identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.linspace(0,10,5)               # Create a linearly increasing array, starting with 0, ending with 10, with 5 items

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [ ]:
np.array([[ 1,  2, 3],            # Specify a 2x2 array (i.e. matrix)
       [ -3,  0,  0],
       [ -1,  0,  1]])

array([[ 1,  2,  3],
       [-3,  0,  0],
       [-1,  0,  1]])

Assign Numpy arrays to variables

In [ ]:
xnparray = np.array([[ 1,  2, 3],            # Assign a 2x2 array (i.e. matrix) to the variable xnparray
       [ -3,  0,  0],
       [ -1,  0,  1]])
print(xnparray)

[[ 1  2  3]
 [-3  0  0]
 [-1  0  1]]

In [ ]:
print("Shape is ",xnparray.shape)                # Print the shape of the array
print("Size is ",xnparray.size)                  # Print the size of the array
print("# of dimensions is ",xnparray.ndim)       # Print the number of dimensions of the array

Shape is  (3, 3)
Size is  9
# of dimensions is  2

Use indexing to select an item (similar to regular Python arrays)

In [ ]:
xnparray[0][1]                                   # Print the item in the 1st row and 2nd column of the array

2

In [ ]:
xnparray[-1][-1]                                 # Print the item in the last row and last column

1

In [ ]:
xnparray[1,:]                                    # Slice an array using :  (ex. show the second row)

array([-3,  0,  0])

In [ ]:
xnparray[:,1]                                    # Slice an array using :  (ex. show the second column)

array([2, 0, 0])

In [ ]:
xnparray[1,:] = 1                                # Reassign values across an array (ex. set row 2 to the value 1)
print(xnparray)

[[ 1  2  3]
 [ 1  1  1]
 [-1  0  1]]

In [ ]:
xnparray.reshape(9,1)                            # Reshape the array to a 9x1 array

array([[ 1],
       [ 2],
       [ 3],
       [ 1],
       [ 1],
       [ 1],
       [-1],
       [ 0],
       [ 1]])

In [ ]:
xnparray/2                                       # Math is easy with Numpy (each item is divided by 2)

array([[ 0.5,  1. ,  1.5],
       [ 0.5,  0.5,  0.5],
       [-0.5,  0. ,  0.5]])

## Overview of Python Pandas Dataframe

**Pandas** *is a large python library dedicated to performance data analysis and transformations, which combines numerical and database capabilities into one package*
*Many data scientists spend a large portion of time using the Pandas library. It is arguably one of the most widely and commonly used Python libraries.*
> *References*
> * https://pandas.pydata.org/
> * [Python Data Science Handbook: Introduction to Pandas](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.00-Introduction-to-Pandas.ipynb)

*Pandas builds upon the previous data types (ex. Numpy) by creating what is called a* **data structure** *type. Data structures are abstract groupings and mappings for multiple items.
Think of a data structure as a more generalized type of list. And, the specific data structure object, in python, is called a* **dataframe**. *Pandas Dataframes are very powerful data analysis objects. And, the Pandas library allows you to perform countless operations on this relatonal and labeled data.*

#### Example 2.1: Solar PV System Performance - Importing and Inspecting the Data

![Example2.1_data_import_inspection.png](attachment:06bba1c2-4227-40b4-ac1a-70a8878fef75.png)

In [ ]:
import pandas as pd                             # Import the pandas library as the object named 'pd'

url="https://storage.googleapis.com/nrel-datahub/NREL_DataHub_PVDAQ"    # Assign the data source URL as a variable called 'url'
data=pd.read_csv(url, sep=',', header=None, error_bad_lines=False)      # Create pandas dataframe, pd, by reading the url data as a csv formatted data file

b'Skipping line 8500: expected 7 fields, saw 117\nSkipping line 8863: expected 7 fields, saw 32\nSkipping line 13537: expected 7 fields, saw 2737\nSkipping line 13542: expected 7 fields, saw 12\nSkipping line 34453: expected 7 fields, saw 27\nSkipping line 34509: expected 7 fields, saw 27\nSkipping line 50945: expected 7 fields, saw 20342\nSkipping line 53304: expected 7 fields, saw 27\nSkipping line 53587: expected 7 fields, saw 17\nSkipping line 53763: expected 7 fields, saw 27\nSkipping line 67878: expected 7 fields, saw 27\nSkipping line 67919: expected 7 fields, saw 27\nSkipping line 70203: expected 7 fields, saw 27\nSkipping line 71144: expected 7 fields, saw 1642\nSkipping line 104953: expected 7 fields, saw 11282\nSkipping line 105737: expected 7 fields, saw 92\nSkipping line 115698: expected 7 fields, saw 22\nSkipping line 116707: expected 7 fields, saw 32\nSkipping line 116713: expected 7 fields, saw 37\nSkipping line 119348: expected 7 fields, saw 52\n'
b'Skipping line 136239: expected 7 fields, saw 232\nSkipping line 137054: expected 7 fields, saw 122\nSkipping line 137621: expected 7 fields, saw 2697\nSkipping line 137622: expected 7 fields, saw 32\nSkipping line 137623: expected 7 fields, saw 17\nSkipping line 137625: expected 7 fields, saw 12\nSkipping line 137627: expected 7 fields, saw 12\nSkipping line 141386: expected 7 fields, saw 17\nSkipping line 141389: expected 7 fields, saw 17\nSkipping line 141391: expected 7 fields, saw 17\nSkipping line 141392: expected 7 fields, saw 12\nSkipping line 141393: expected 7 fields, saw 22\nSkipping line 153849: expected 7 fields, saw 32\nSkipping line 158494: expected 7 fields, saw 82\nSkipping line 160646: expected 7 fields, saw 42\nSkipping line 168216: expected 7 fields, saw 22\nSkipping line 168220: expected 7 fields, saw 17\nSkipping line 168221: expected 7 fields, saw 12\nSkipping line 168825: expected 7 fields, saw 27\nSkipping line 168854: expected 7 fields, saw 37\nSkipping line 173023: expected 7 fields, saw 112\nSkipping line 173031: expected 7 fields, saw 27\nSkipping line 173124: expected 7 fields, saw 17\nSkipping line 173605: expected 7 fields, saw 27\nSkipping line 177234: expected 7 fields, saw 27\nSkipping line 177482: expected 7 fields, saw 27\nSkipping line 177973: expected 7 fields, saw 27\nSkipping line 177981: expected 7 fields, saw 27\nSkipping line 177985: expected 7 fields, saw 32\nSkipping line 177988: expected 7 fields, saw 12\nSkipping line 177989: expected 7 fields, saw 12\nSkipping line 179137: expected 7 fields, saw 37\nSkipping line 179141: expected 7 fields, saw 52\nSkipping line 188092: expected 7 fields, saw 22\nSkipping line 188713: expected 7 fields, saw 57\nSkipping line 188722: expected 7 fields, saw 42\nSkipping line 188735: expected 7 fields, saw 42\nSkipping line 189326: expected 7 fields, saw 37\nSkipping line 189340: expected 7 fields, saw 77\nSkipping line 192128: expected 7 fields, saw 532\nSkipping line 193156: expected 7 fields, saw 22\nSkipping line 193158: expected 7 fields, saw 12\nSkipping line 193159: expected 7 fields, saw 32\nSkipping line 194041: expected 7 fields, saw 12\nSkipping line 195149: expected 7 fields, saw 57\nSkipping line 197933: expected 7 fields, saw 27\nSkipping line 198573: expected 7 fields, saw 22\nSkipping line 198591: expected 7 fields, saw 12\nSkipping line 203694: expected 7 fields, saw 32\nSkipping line 203699: expected 7 fields, saw 97\nSkipping line 204021: expected 7 fields, saw 37\nSkipping line 204112: expected 7 fields, saw 27\nSkipping line 204115: expected 7 fields, saw 22\nSkipping line 209446: expected 7 fields, saw 12\nSkipping line 209447: expected 7 fields, saw 12\nSkipping line 209450: expected 7 fields, saw 22\nSkipping line 209451: expected 7 fields, saw 22\nSkipping line 209454: expected 7 fields, saw 17\nSkipping line 215888: expected 7 fields, saw 32\nSkipping line 220026: expected 7 fields, saw 27\nSkipping line 220032: expected 7 fields, saw 27\nSkipping line 226047: expected 7 fields, saw 27\nSkipping line 237581: expected 7 fields, saw 72\n'
b'Skipping line 263010: expected 7 fields, saw 37\nSkipping line 269326: expected 7 fields, saw 27\nSkipping line 270170: expected 7 fields, saw 27\nSkipping line 270754: expected 7 fields, saw 152\nSkipping line 271181: expected 7 fields, saw 152\nSkipping line 271227: expected 7 fields, saw 37\nSkipping line 293971: expected 7 fields, saw 11\nSkipping line 313145: expected 7 fields, saw 12\nSkipping line 358374: expected 7 fields, saw 12\nSkipping line 366185: expected 7 fields, saw 12\nSkipping line 388183: expected 7 fields, saw 17\nSkipping line 388184: expected 7 fields, saw 22\nSkipping line 388185: expected 7 fields, saw 17\nSkipping line 388186: expected 7 fields, saw 12\nSkipping line 388189: expected 7 fields, saw 22\nSkipping line 388192: expected 7 fields, saw 12\nSkipping line 388271: expected 7 fields, saw 12\nSkipping line 388284: expected 7 fields, saw 12\nSkipping line 388288: expected 7 fields, saw 17\nSkipping line 388291: expected 7 fields, saw 17\nSkipping line 388292: expected 7 fields, saw 12\nSkipping line 388295: expected 7 fields, saw 17\nSkipping line 388298: expected 7 fields, saw 27\nSkipping line 388299: expected 7 fields, saw 12\nSkipping line 388302: expected 7 fields, saw 42\nSkipping line 388303: expected 7 fields, saw 42\nSkipping line 388304: expected 7 fields, saw 17\nSkipping line 388305: expected 7 fields, saw 17\nSkipping line 388306: expected 7 fields, saw 27\nSkipping line 388308: expected 7 fields, saw 17\nSkipping line 388311: expected 7 fields, saw 17\nSkipping line 388312: expected 7 fields, saw 12\nSkipping line 388313: expected 7 fields, saw 27\nSkipping line 388315: expected 7 fields, saw 42\nSkipping line 388316: expected 7 fields, saw 42\nSkipping line 388318: expected 7 fields, saw 37\nSkipping line 388320: expected 7 fields, saw 12\nSkipping line 388321: expected 7 fields, saw 17\nSkipping line 388322: expected 7 fields, saw 42\nSkipping line 388323: expected 7 fields, saw 132\nSkipping line 388324: expected 7 fields, saw 72\nSkipping line 388327: expected 7 fields, saw 17\nSkipping line 388329: expected 7 fields, saw 17\nSkipping line 388387: expected 7 fields, saw 17\nSkipping line 388416: expected 7 fields, saw 12\nSkipping line 388417: expected 7 fields, saw 22\nSkipping line 388418: expected 7 fields, saw 12\nSkipping line 388421: expected 7 fields, saw 17\nSkipping line 388426: expected 7 fields, saw 12\nSkipping line 388429: expected 7 fields, saw 12\nSkipping line 388433: expected 7 fields, saw 12\nSkipping line 388434: expected 7 fields, saw 12\nSkipping line 388435: expected 7 fields, saw 12\nSkipping line 388436: expected 7 fields, saw 12\nSkipping line 388462: expected 7 fields, saw 12\nSkipping line 388471: expected 7 fields, saw 57\nSkipping line 388472: expected 7 fields, saw 12\nSkipping line 388473: expected 7 fields, saw 32\nSkipping line 388488: expected 7 fields, saw 12\nSkipping line 388493: expected 7 fields, saw 17\nSkipping line 388494: expected 7 fields, saw 17\n'
b'Skipping line 407955: expected 7 fields, saw 27\nSkipping line 437913: expected 7 fields, saw 32\nSkipping line 441491: expected 7 fields, saw 42\nSkipping line 441494: expected 7 fields, saw 52\nSkipping line 509903: expected 7 fields, saw 12\n'
b'Skipping line 588639: expected 7 fields, saw 12\nSkipping line 618787: expected 7 fields, saw 12\nSkipping line 622702: expected 7 fields, saw 627\nSkipping line 622733: expected 7 fields, saw 117\nSkipping line 625444: expected 7 fields, saw 27\nSkipping line 625460: expected 7 fields, saw 27\nSkipping line 633558: expected 7 fields, saw 27\nSkipping line 653344: expected 7 fields, saw 12\n'
b'Skipping line 674455: expected 7 fields, saw 27\nSkipping line 674471: expected 7 fields, saw 27\nSkipping line 685477: expected 7 fields, saw 22\nSkipping line 685483: expected 7 fields, saw 27\nSkipping line 688851: expected 7 fields, saw 27\nSkipping line 690975: expected 7 fields, saw 27\nSkipping line 709883: expected 7 fields, saw 27\nSkipping line 710277: expected 7 fields, saw 12\nSkipping line 722512: expected 7 fields, saw 27\nSkipping line 722518: expected 7 fields, saw 32\nSkipping line 724766: expected 7 fields, saw 32\nSkipping line 733497: expected 7 fields, saw 20997\nSkipping line 734943: expected 7 fields, saw 27\nSkipping line 737054: expected 7 fields, saw 11\nSkipping line 740007: expected 7 fields, saw 27\nSkipping line 749109: expected 7 fields, saw 27\nSkipping line 758033: expected 7 fields, saw 22\n'
b'Skipping line 795808: expected 7 fields, saw 307\nSkipping line 796377: expected 7 fields, saw 307\nSkipping line 798541: expected 7 fields, saw 197\nSkipping line 820633: expected 7 fields, saw 12\nSkipping line 840445: expected 7 fields, saw 12\nSkipping line 870826: expected 7 fields, saw 307\nSkipping line 871552: expected 7 fields, saw 12\nSkipping line 872593: expected 7 fields, saw 307\nSkipping line 874680: expected 7 fields, saw 307\nSkipping line 874777: expected 7 fields, saw 307\nSkipping line 874845: expected 7 fields, saw 272\nSkipping line 877766: expected 7 fields, saw 307\nSkipping line 882903: expected 7 fields, saw 27\nSkipping line 911467: expected 7 fields, saw 27\n'
b'Skipping line 936367: expected 7 fields, saw 11172\nSkipping line 939159: expected 7 fields, saw 12\nSkipping line 940336: expected 7 fields, saw 27\nSkipping line 963252: expected 7 fields, saw 27\nSkipping line 963253: expected 7 fields, saw 37\nSkipping line 963256: expected 7 fields, saw 27\nSkipping line 963258: expected 7 fields, saw 27\nSkipping line 1020305: expected 7 fields, saw 32\nSkipping line 1022835: expected 7 fields, saw 19\n'
b'Skipping line 1072828: expected 7 fields, saw 1537\nSkipping line 1076495: expected 7 fields, saw 937\nSkipping line 1077777: expected 7 fields, saw 87\nSkipping line 1078588: expected 7 fields, saw 772\nSkipping line 1087455: expected 7 fields, saw 27\nSkipping line 1112928: expected 7 fields, saw 27\n'
b'Skipping line 1179929: expected 7 fields, saw 27\nSkipping line 1182616: expected 7 fields, saw 52\nSkipping line 1190402: expected 7 fields, saw 27\nSkipping line 1223972: expected 7 fields, saw 12\nSkipping line 1238804: expected 7 fields, saw 1847\nSkipping line 1243711: expected 7 fields, saw 12\nSkipping line 1253604: expected 7 fields, saw 12\nSkipping line 1262768: expected 7 fields, saw 17\nSkipping line 1267432: expected 7 fields, saw 12\nSkipping line 1271623: expected 7 fields, saw 17\nSkipping line 1275830: expected 7 fields, saw 12\nSkipping line 1280094: expected 7 fields, saw 17\nSkipping line 1304050: expected 7 fields, saw 12\nSkipping line 1306695: expected 7 fields, saw 1907\nSkipping line 1307159: expected 7 fields, saw 12\n'
b'Skipping line 1323746: expected 7 fields, saw 12\nSkipping line 1332402: expected 7 fields, saw 17\nSkipping line 1336621: expected 7 fields, saw 17\nSkipping line 1341236: expected 7 fields, saw 17\nSkipping line 1353957: expected 7 fields, saw 317\nSkipping line 1358309: expected 7 fields, saw 17\nSkipping line 1387144: expected 7 fields, saw 52\nSkipping line 1387147: expected 7 fields, saw 72\nSkipping line 1440999: expected 7 fields, saw 327\n'
b'Skipping line 1481882: expected 7 fields, saw 11\nSkipping line 1481883: expected 7 fields, saw 11\n'

In [ ]:
help(pd.read_csv)                               # How to open a help section on a specific built-in function (this is the help for the read_csv function)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap], sep=<object object at 0x000001E2C6D77860>, delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: Union[Dict[str, Any], NoneType] = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are ``None`` or 'high' for the ordinary converter,
        'legacy' for the original lower precision pandas converter, and
        'round_trip' for the round-trip converter.

        .. versionchanged:: 1.2

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a non-fsspec URL.
        See the fsspec and backend storage implementation docs for the set of
        allowed keys and values.

        .. versionadded:: 1.2

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

*View the properties of the raw data variable (which is a 'dataframe')*

In [ ]:
data.head()                                     # View the top and bottom rows

,ac_power,poa_irradiance,ambient_temp,wind_speed,soiling
Datetime,,,,,
2010-02-25 14:16:00,62.464,96.55,4.017,0.564,1.0
2010-02-25 14:17:00,84.915,103.57,3.990,1.004,1.0
2010-02-25 14:18:00,94.197,108.96,3.926,1.459,1.0
2010-02-25 14:19:00,27.059,115.05,3.854,1.326,1.0
2010-02-25 14:20:00,79.618,127.72,3.792,1.899,1.0

In [ ]:
data.shape                                      # View the size of the dataframe

(1541277, 5)

In [ ]:
data                                            # View the dataframe as a table, for visual inspection (note that the rows and columns are just numbers)

                           0  1        2        3      4      5      6
0        2010-02-25 14:16:00  4   62.464   96.550  4.017  0.564  1.000
1        2010-02-25 14:17:00  4   84.915  103.570  3.990  1.004  1.000
2        2010-02-25 14:18:00  4   94.197  108.960  3.926  1.459  1.000
3        2010-02-25 14:19:00  4   27.059  115.050  3.854  1.326  1.000
4        2010-02-25 14:20:00  4   79.618  127.720  3.792  1.899  1.000
...                      ... ..      ...      ...    ...    ...    ...
1541272  2016-12-13 09:53:00  4  701.066  839.505  1.485  2.357  0.992
1541273  2016-12-13 09:54:00  4  713.114  851.519  1.300  2.453  0.992
1541274  2016-12-13 09:55:00  4  712.889  851.149  1.218  1.338  0.992
1541275  2016-12-13 09:56:00  4  714.269  853.730  1.372  0.886  0.992
1541276  2016-12-13 09:57:00  4  221.987  858.830  1.542  1.391  0.992

[1541277 rows x 7 columns]

In [ ]:
data.columns = (['Datetime','system_id','ac_power', 'poa_irradiance',  
                'ambient_temp', 'wind_speed','soiling'])                # Create names for each column
data                                                                    # Note that the columns are now named, but the rows are still just numbers

,Datetime,system_id,ac_power,poa_irradiance,ambient_temp,wind_speed,soiling
0,2010-02-25 14:16:00,4,62.464,96.550,4.017,0.564,1.000
1,2010-02-25 14:17:00,4,84.915,103.570,3.990,1.004,1.000
2,2010-02-25 14:18:00,4,94.197,108.960,3.926,1.459,1.000
3,2010-02-25 14:19:00,4,27.059,115.050,3.854,1.326,1.000
4,2010-02-25 14:20:00,4,79.618,127.720,3.792,1.899,1.000
...,...,...,...,...,...,...,...
1541272,2016-12-13 09:53:00,4,701.066,839.505,1.485,2.357,0.992
1541273,2016-12-13 09:54:00,4,713.114,851.519,1.300,2.453,0.992
1541274,2016-12-13 09:55:00,4,712.889,851.149,1.218,1.338,0.992
1541275,2016-12-13 09:56:00,4,714.269,853.730,1.372,0.886,0.992
1541276,2016-12-13 09:57:00,4,221.987,858.830,1.542,1.391,0.992

In [ ]:
data['Datetime'] =  pd.to_datetime(data['Datetime'])                    # Convert the 'Datetime' column to the proper datetime format for time series analysis
data

,Datetime,system_id,ac_power,poa_irradiance,ambient_temp,wind_speed,soiling
0,2010-02-25 14:16:00,4,62.464,96.550,4.017,0.564,1.000
1,2010-02-25 14:17:00,4,84.915,103.570,3.990,1.004,1.000
2,2010-02-25 14:18:00,4,94.197,108.960,3.926,1.459,1.000
3,2010-02-25 14:19:00,4,27.059,115.050,3.854,1.326,1.000
4,2010-02-25 14:20:00,4,79.618,127.720,3.792,1.899,1.000
...,...,...,...,...,...,...,...
1541272,2016-12-13 09:53:00,4,701.066,839.505,1.485,2.357,0.992
1541273,2016-12-13 09:54:00,4,713.114,851.519,1.300,2.453,0.992
1541274,2016-12-13 09:55:00,4,712.889,851.149,1.218,1.338,0.992
1541275,2016-12-13 09:56:00,4,714.269,853.730,1.372,0.886,0.992
1541276,2016-12-13 09:57:00,4,221.987,858.830,1.542,1.391,0.992

In [ ]:
data = data.set_index(['Datetime'])              # Set the 'Datetime' column as the index (i.e. key) in the pandas dataframe
data                                             # Note that the row names are now the datetime stamps

,system_id,ac_power,poa_irradiance,ambient_temp,wind_speed,soiling
Datetime,,,,,,
2010-02-25 14:16:00,4,62.464,96.550,4.017,0.564,1.000
2010-02-25 14:17:00,4,84.915,103.570,3.990,1.004,1.000
2010-02-25 14:18:00,4,94.197,108.960,3.926,1.459,1.000
2010-02-25 14:19:00,4,27.059,115.050,3.854,1.326,1.000
2010-02-25 14:20:00,4,79.618,127.720,3.792,1.899,1.000
...,...,...,...,...,...,...
2016-12-13 09:53:00,4,701.066,839.505,1.485,2.357,0.992
2016-12-13 09:54:00,4,713.114,851.519,1.300,2.453,0.992
2016-12-13 09:55:00,4,712.889,851.149,1.218,1.338,0.992
2016-12-13 09:56:00,4,714.269,853.730,1.372,0.886,0.992
2016-12-13 09:57:00,4,221.987,858.830,1.542,1.391,0.992

In [ ]:
data=data.drop(['system_id'], axis=1)           # Drop the 'system_id' column since we do not need this data for the analysis
data                                            # Print the data table for visual inspection

,ac_power,poa_irradiance,ambient_temp,wind_speed,soiling
Datetime,,,,,
2010-02-25 14:16:00,62.464,96.550,4.017,0.564,1.000
2010-02-25 14:17:00,84.915,103.570,3.990,1.004,1.000
2010-02-25 14:18:00,94.197,108.960,3.926,1.459,1.000
2010-02-25 14:19:00,27.059,115.050,3.854,1.326,1.000
2010-02-25 14:20:00,79.618,127.720,3.792,1.899,1.000
...,...,...,...,...,...
2016-12-13 09:53:00,701.066,839.505,1.485,2.357,0.992
2016-12-13 09:54:00,713.114,851.519,1.300,2.453,0.992
2016-12-13 09:55:00,712.889,851.149,1.218,1.338,0.992
2016-12-13 09:56:00,714.269,853.730,1.372,0.886,0.992
2016-12-13 09:57:00,221.987,858.830,1.542,1.391,0.992